{
  "presets": ["react-app"],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "plugins": [
    "react-hot-loader/babel",
    [
      "react-css-modules",
      {
        "webpackHotModuleReloading": true
      }
    ]
  ]
}
