.paper {
  max-width: 370px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}

.label {
  text-align: center;
}

.trip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data {
  color: #2ab7ca;
}

.eta {
  margin-top: 10px;
  text-align: center;
  padding: 10px 5px;
}
