.paper {
  max-width: 370px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}

.label {
  text-align: center;
}

.trip {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.data {
  color: #2ab7ca;
}

.eta {
  margin-top: 10px;
  text-align: center;
  padding: 10px 5px;
  font-weight: 300;
}

.image {
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
}

:global(.webp) .image {
  background-image: url(../../images/logo-100-50.webp);
}

:global(.no-webp) .image {
  background-image: url(../../images/logo-100-50.png);
}
