.Search {

}

.Search .busSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Search .busSelect {
  width: 300px;
  margin-left: 20px;
}

.Search .startButton {
  margin-top: 20px;
}
