.paper {
  max-width: 380px;
  padding: 30px 20px 20px 20px;
  margin: auto;
  margin-top: 20px;
}

.container {
  overflow-y: auto;
}

.title {
  text-align: center;
  font-size: 2em;
}

.listItem {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}

.buttons {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  width: 105px;
}
