.paper {
  max-width: 360px;
  padding: 10px 0 20px 10px;
  margin: auto;
  margin-top: 20px;
}

.favourite {
  margin-bottom: 10px;
}

.warning {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
  margin-top: 12px;
}

.container {
  overflow: auto;
}
