.paper {
  max-width: 260px;
  margin: auto;
  text-align: center;
  padding: 20px 10px;
}

.intro {
  font-size: 0.9em;
  color: #2ab7ca;
}

.steps {
  margin-top: 10px;
  margin-bottom: 15px;
}

.underscore {
  text-align: center;
  font-style: italic;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.title {
  text-align: center;
  font-style: italic;
  color: white;
  font-size: 40px;
  margin-top: 20px;
}

.image {
  margin: auto;
  width: 200px;
  height:100px;
  margin-top: 20px;
}

:global(.webp) .image {
  background-image: url(../../images/logo-200-100.webp);
}

:global(.no-webp) .image {
  background-image: url(../../images/logo-200-100.png);
}

.bottomText {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
  margin-top: 15px;
}
