body {
  background-size: 100% 100%;
  margin: 0;
}

:global(.webp) body {
  background-image: url('./images/background.webp');
}

:global(.no-webp) body {
  background-image: url('./images/background.png');
}

* {
  font-family: Roboto;
}
