body {
  background-size: cover;
  background-position: center;
  margin: 0;
}

:global(.webp) body {
  background-image: url('./images/background.webp');
}

:global(.no-webp) body {
  background-image: url('./images/background.jpg');
}

* {
  font-family: Roboto;
}
