.container {
  display: flex;
}

.title {
  color: rgb(0, 188, 212);
  margin-top: 20px;
}

.slider {
  width: 100px;
  margin-left: 15px;
  margin-right: 10px;
}

.label {
  margin-top: 23px;
  font-weight: bold;
}
